extends ../layout/index.pug

block cuerpocontenido
    h1(class="text-center")= pagina

    div(class="row justify-content-center")
        each g in gerente
            div(class="col-md-4 mb-4")
                div(class="card h-100")
                    img(src="/img/imagen_gerente.jpg", class="card-img-top")
                    div(class="card-body")
                        h6 Nombre: #{g.nombre}
                        h6 Apellido Paterno: #{g.ap_paterno}
                        h6 Apellido Materno: #{g.ap_materno}
                        h6 Teléfono Gerente: #{g.telefono}
                        h6 Número Hotel Trabajador: #{g.id_htl}
